<div class="container">
  <div class="message-container bg-white p-5 rounded shadow" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
    <h2 class="message">Welcome.</h2>
    <h6 class="message">
      This page will help you to find Albums of your favorite artist.
    </h6>
    <img class="mx-auto d-block image-welcome " data-aos="fade-up" data-aos-duration="500" data-aos-delay="800" src="https://www.adslzone.net/app/uploads-adslzone.net/2018/03/itunes.jpg" alt="">
  </div>
</div>
