.message {
  text-align: center;
}

.message-container {
  font-size: 0.95rem;
  color: rgb(53, 53, 53);
  font-style: italic;
}

.image-welcome {
  margin-top: 30px;
  width: 450px;
  height: auto;
}
