<div class="row mb-3">
  <div class="col-lg-8 mx-left">
    <h5 class="font-weight-light mb-3 font-italic text-white"></h5>
    <form action="" (ngSubmit)="onSearchAlbumArtist()">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input
            type="search"
            placeholder="What are you searching for?"
            [(ngModel)]="artistNameInput"
            name="artistName"
            aria-describedby="button-addon1"
            class="form-control border-0 bg-light border"
            required
          />
          <div class="input-group-append">
            <button
              id="button-addon1"
              type="submit"
              class="btn btn-link text-primary"
              (click)="onSearchAlbumArtist()"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
