.message-not-found {
  text-align: center;
}
.container {
  background-image: url("../../../assets/images/backGroundNotFound.jpg");
  background-position: center bottom;
  max-width: 1350px;
  background-size: cover;
  color: rgb(53, 53, 53);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.message-container {
  font-size: 0.95rem;
  color: rgb(53, 53, 53);
  font-style: italic;
}
.image-not-found {
  width: 320px;
  height: auto;
  border-radius: 50%;
}
.second-title {
  font-style: normal !important;
}
.title {
  font-size: 110px;
  font-style: normal !important;
}
@media (max-width: 991.5px) {
  .image-not-found {
    width: 200px;
    height: auto;
  }
  .title {
    font-size: 52px !important;
  }
  .second-title{
    font-size: 22px !important;
  }
}
