<div class="container" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
  <div class="message-container p-5 rounded">
    <h1 class="message-not-found title">Oops!</h1>
    <h2 class="message-not-found second-title">Artist not found, please try with another name</h2>
    <p class="message-not-found">Be careful about spelling, tildes and spaces. </p>
    <img class="mx-auto d-block image-not-found" src="../../../assets/images/imageNotFound.jpg" alt="">
    <h6 class="message-not-found">Example: Maroon 5, Jack Johnson, Dio, Lauv</h6>
  </div>
</div>