<body>
  <div class="contianer">
    <app-filter-field
     (searchArtistAlbum)="searchArtistAlbum($event)" >
    </app-filter-field>
     
    <div *ngIf="displayWelcomeMessage == true">
      <app-welcome-message></app-welcome-message>
    </div>

    <div *ngIf="displayMessageNotFound == true">
      <app-not-found-artist></app-not-found-artist>
    </div>

    <div *ngIf="displaySortButtons === true" class="row justify-content-left container-sort-buttons">
      <div class="col-sm-2 col-md-1 col-1 col-xl-1 col-5">
        <label for="onSortList" class="col-form-label sort-title">
          Sort By:
        </label>
      </div>
      <div class="col-sm-10 col-md-8 col-8 col-xl-6">
        <button class=" btn btn-primary sort-btn" (click)="onSortList('A-Z')"> Higher to Lower (A-Z) </button>
        <button class=" btn btn-primary sort-btn" (click)="onSortList('Z-A')"> Lower to Higher (Z-A) </button>
      </div>
    </div>
        
    <!-- Items collection -->
    <div *ngIf="displayMessageNotFound == false" class="row justify-content-center">
      <app-album-collection-item
        *ngFor="let album of albumCollection | paginate: {itemsPerPage: totalItemsPerPage, currentPage: actualPage}"
        [album]="album"
        class="col-xl-3 col-lg-4 col-md-6"
      >
      </app-album-collection-item>
    </div>

    <!-- Pagination Buttons -->
    <div *ngIf="enoughElementsToPaginate==true" class="row justify-content-center">  
      <div class="pagination-container">
        <pagination-controls (pageChange)="actualPage = $event"
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        ></pagination-controls>
      </div>
      <button *ngIf="displayButtonShowAll==true" class="btn btn-primary pagination-btn" (click)="onShowAllItems(true)"> Show All</button>
      <button *ngIf="displayButtonShowAll==false" class="btn btn-primary pagination-btn" (click)="onShowAllItems(false)"> Return Pagination </button>
    </div>
  </div>
</body>
