<div class="card">
  <div class="row">
    <div class="col-md-12 profile-collection-item">
      <img
        [src]="album.artworkUrl100"
        alt="Album_image"
        class="img-fluid rounded-circle center"
      />
    </div>
    <div class="card-body col-md-10 text-center">
      <div class="pt-1">
        <h5 class="mt-4 font-weight-medium mb-0">{{ album.collectionName }}</h5>
        <h6 class="subtitle mb-3">{{ album.artistName }}</h6>
        <p>Price: {{ album.collectionPrice }} USD</p>
      </div>
    </div>
  </div>
</div>
