<div data-aos="fade-up" data-aos-duration="1000">
  <div *ngIf="album" class="card" >
    <div class="row">
      <div class="col-md-12 profile-collection-item">
        <img
          [src]="validateHasAlbumImage(album.artworkUrl100)"
          alt="Album_image"
          class="img-fluid center image-album"
        />
      </div>
      <div class="card-body col-md-10 text-center">
        <div class="pt-1">
          <h6 class="mt-4 font-weight-medium mb-0" style="text-transform:uppercase">{{ album.collectionName}}</h6>
          <h6 class="subtitle mb-3 artist-name">{{ album.artistName }}</h6>
          <p class="price-album"> <b> Price:</b> {{ album.collectionPrice }} USD</p>
        </div>
      </div>
    </div>
  </div>
</div>